/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuração padrão para o HTML e o body */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Cor de fundo padrão */
}

/* Div principal para garantir layout flexível */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos globais de links */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #4caf50; /* Cor verde ao passar o mouse */
}

header{
  background-color: #CBE86B;
}